*
{
    padding: 0;
    margin: 0;
}

body
{
    font-size:15px;
}

#main-container
{
    display:flex;
    flex-direction: column;
    margin:40px;
    
}

.flex-item 
{
    display:grid;
    height: 50vh;
    padding:30px;
}

.flex-item h2
{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: hsl(0, 0%, 95%);
}

.flex-item p
{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    letter-spacing:1.9px;
}

.flex-item button
{
    width:135px;
    height:45px;
    border-radius: 25px;
    border: none;
    
}

.sedans
{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.sedans button
{
    color:hsl(31, 77%, 52%);;
}

.sedans button:hover
{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    transition: all .3s ease-in-out;
}

.suvs
{
    background-color: hsl(184, 100%, 22%)
}

.suvs button
{
    color:hsl(184, 100%, 22%);
}

.suvs button:hover
{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    transition: all .3s ease-in-out;
}

.luxury 
{
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.luxury button
{
    color: hsl(179, 100%, 13%);
}

.luxury button:hover
{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    transition: all .3s ease-in-out;
}

.attribution
{
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.3rem;
}